/* .choose-item2
{
    /* display: none; */
/* } */

/* .choose-item1
{
    display: none;
    /* display: flex;
    gap: 25px; */
/* }
.choose-item1-img:nth-child(1)
{
    padding-right: 30px;
} */

/* .choose-item1-img
{
    /* padding-right: 40px; */
    /* display: flex;
    gap: 10px;
} */
/* .choose-item1 input {
    cursor: pointer;
    color: #6B73FF;
}  */
